#include "Winver.h"

#define VER_FILEVERSION     1,1,0,0
#define VER_FILEVERSION_STR 1,1,0,0

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_FILEVERSION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       (0)
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
    VALUE "CompanyName", "Mod Organizer 2 Team"
    VALUE "FileVersion", VER_FILEVERSION_STR
  END
END

BLOCK "VarFileInfo"
  BEGIN
  VALUE "Translation", 0x0409, 1200
END
END
