name: Build Archive
on:
  push:
    branches: master
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  build:
    runs-on: windows-2022
    steps:
      - name: Build Archive
        uses: ModOrganizer2/build-with-mob-action@master
        with:
          mo2-third-parties: 7z
          mo2-dependencies: cmake_common
